<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>

<h1>Posts</h1>
<p>
ici tu peux poster quelque chose, et dans la deuxieme case si tu peux dire ce que tu as fait exactement, ou tu peux juste commenter si tu utilises souvent des trucs our faire du developpement web
</p>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
